.sidebar-wrapper {
  height: 100%;
}

.ui.inverted.menu.sidebar {
  font-size: 12px;
}

.mobile-header {
  display: none;
  padding: 0px 25px 0px 17px;

  i.large.icon, i.large.icons {
    cursor: pointer;
  }
}

/* Sidebar responsiveness */

@media (max-width: 767px) {
  .mobile-header {
    display: block;
  }
}