body > div,
body > div > div,
.signup-form {
  height: 100%;
}

.grid-center {
  height: 100%;
  justify-content: center;
  text-align: center;
}

.grid-column-auth {
  max-width: 450px;
  margin-top: 20px;
}

.form-auth {
  padding: 20px;
  border: 1px solid;
  margin: auto;
}

