body, html {
    height: 100%;
}

body > div, body > div > div {
    height: 100%;
}

/* Layout */
body, .ui.segment, .pusher {
    background: #1c1c24;
    color: #6d788c;
    margin-top: 0px;
}

.ui.segment {
    padding-right: 0px;
}

.application-wrapper {
    margin-left: 15rem;
    padding-top: 15px;
}

/* Typography */

h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}

h1, h2, h3, h4 {
    color: #fcfcfc;
    border-bottom: 2px solid #3D3C4F;
    padding-bottom: 7px;
}

/* Tables */

.ui.basic.table {
    background: #1f1f29;
    color: #6d788c;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

    thead {
        background-color: rgba(0,0,20,.02);
        th {
            border-bottom: 2px solid #1c1c24;
            color: #fcfcfc;
        }
    }

    tbody td {
        border-bottom: 1px solid #1c1c24;
    }

    tbody tr:hover {
        background: #1c1c24;
    }
}

/* Labels */

.ui.label {
    &.green {
        color: #fff;
        background-color: #2CA58D !important;
    }

    &.purple {
        color: #fff;
        background: #974ec2 !important;
    }
}

/* Buttons */

.ui.button {
    /* Overriding semantic colors */
    &.green {
        background: #2CA58D;
        &:hover, &:visited {
            background: #238479;
        }
        &:focus {
            background: #1B665F;
        }
    }

    &.purple {
        background: #974ec2;
    }
}

/* Forms */

.ui.form {
    padding: 20px;
    margin-top: 10px;
    background: #1f1f29;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

    input {
        background: #404050 !important;
        color: #fff !important;
    }
}

/* Lists */

.ui.list>.item {
    .header {
        color: #fff;
    }
    .description {
        color: #6d788c;
    }
}

/* Messages */

.success {
    position: relative;
    background: rgb(144, 238, 144);
    color: #006400;
    border-radius: 2px;
    border-left: 5px solid #006400;;
    text-align: left;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    -webkit-animation: fadein 0.3s;
    -moz-animation: fadein 0.3s;
     -ms-animation: fadein 0.3s;
      -o-animation: fadein 0.3s;
         animation: fadein 0.3s;

    &:before {
        font-family: Icons;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        content: "\f164";
        margin-right: 10px;
    } 
    
    a {
        color: #006400;
        text-decoration: underline;
        cursor: pointer;
        font-weight: bold;
    }
}

/* Errors */

.error {
    position: relative;
    background: #a90329;
    color: #FFF1F0;
    border-radius: 2px;
    border-left: 5px solid #6B0019;
    text-align: left;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    text-shadow: 0px 1px 1px #6B0019;
    -webkit-animation: fadein 0.3s;
    -moz-animation: fadein 0.3s;
     -ms-animation: fadein 0.3s;
      -o-animation: fadein 0.3s;
         animation: fadein 0.3s;

    &:before {
        font-family: Icons;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        content: "\f071";
        margin-right: 10px;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.errorable {
    position: relative;
    &.display-error-true {
        .form-error {
            display: block;
            -webkit-animation: fadein 0.3s;
            -moz-animation: fadein 0.3s;
             -ms-animation: fadein 0.3s;
              -o-animation: fadein 0.3s;
                 animation: fadein 0.3s;
        }
    }
    .form-error {
        display: none;
        position: absolute;
        top: -22px;
        left: 1px;
        background: #a90329;
        color: #FFF1F0;
        padding: 5px 9px 5px 9px;
        border-radius: 5px;
        font-size: 11px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        text-shadow: 0px 1px 1px #6B0019;
        border-left: 3px solid #6B0019;

        &:after {
            content: "";
            position: absolute;
            bottom: -7px;
            left: 11px;
            border-width: 7px 7px 0;
            border-style: solid;
            border-color: #a90329 transparent;
            display: block;
            width: 0;
        }
    }
}


/* Common */

.points {
    color: #84BC9C;
}

@media (max-width: 767px) {

    .application-wrapper {
        margin-left: 0px;
    }

    .ui.segment {
        padding-left: 0px;
    }

    .ui.basic.table {
        font-size: 10px;   
    }

    .ui.label {
        font-size: 10px;
        font-weight: 400;
    }
    
}